body {
    background-color: #131516;
    color: #d8d4cf; font-family: sans-serif;
}

h1 { text-align: center; }

.city-box { cursor: pointer; }

#city-map-cursor {
    height: 10px; width: 10px;
    background-color: #eeeeee;
    border: #333333 2px solid; border-radius: 50%;
    display: inline-block; position: absolute;
    z-index: 0;
}

#weather-main { display: flex; flex-direction: row; }

#weather-cities { width: 100%; }

.weather-city {
    background-color: #333333;
    width: calc(90% - 40px);
    margin: 20px auto 20px 5%;
    padding: 20px;
    border-radius: 10px;
    display: none;
}

.city-name { text-align: center; font-size: x-large; }

.weather-infos {
    margin-top: 10px;
    display: flex; flex-direction: row;
    justify-content: space-between;
}

.weather-info { text-align: center; font-size: 16px; }